@import "colors";

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: $gray100;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: $themePrimary;
}
